.user-list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.user-container {
    width: 300px;
    padding: 20px;
    height: 20rem;
    box-shadow: 0px 20px 10px lightgrey;
    text-align: center;
}

.add-users {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.edit-users {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 20px;
}